/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 90%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
	width: 90%;
	
}

.header:after {
  content: " ";
  display: block;
  clear: both;
}

.logo {
	float: left;
	width: 25%;
}

.navigation {
	float: right;
	width: 60%;
}

.sidebar {
	float: left;
	width: 25%;
}

.main-content {
	width: 90%;
	float: left;
}

.main-content:after {
  content: " ";
  display: block;
  clear: both;
}

.sub-content {
	float: right;
	width: 60%;
}

.sub-content-2 {
	float: right;
	width: 60%;
}

.main-content:after {
  content: " ";
  display: block;
  clear: both;
}

.footer {
	width: 90%;
	clear: both;
}
