/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	width: 984px;
	float: left; 
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 300px;
	height: 400px;
}

.main-content {
	width: 984px;
	float: left;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	float: right;
	width: 600px;
	height: 150px;
	margin: 5px;
}
.sub-content-2 {
	float: right;
	width: 600px;
	height: 150px;
	margin: 5px;

}

.footer {
	clear: both;
}
