/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 03 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.container {
	width: 1024px;
	margin: 0 auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.header {}

.sidebar {
	float: left;
	width:700px;
	height: 300px;
	
}

.main-content {
	float: right;
	width: 200px;
	height: 300px;
}

.footer {
	clear: both;
}


div {
	margin: 20px;
}
